/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        switchtab: switchtab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(TAB)>;
            label = "SWITCHTAB";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp DEL      &kp Q  &kp W  &kp E           &kp R               &kp T      &kp Y          &kp U               &kp I           &kp O    &kp P     &kp BACKSLASH
&kp LA(TAB)  &kp A  &kp S  &mt LEFT_ALT D  &mt LEFT_CONTROL F  &lt 1 G    &lt 1 H        &mt LEFT_CONTROL J  &mt LEFT_ALT K  &kp L    &kp SEMI  &kp SQT
&kp LSHFT    &kp Z  &kp X  &kp C           &kp V               &lt 2 B    &lt 2 N        &kp M               &kp COMMA       &kp DOT  &kp FSLH  &kp ESC
                           &mt END HOME    &kp ENTER           &kp TAB    &kp BACKSPACE  &kp SPACE           &kp LGUI
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp GRAVE  &kp EXCL     &kp AT_SIGN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE     &none     &kp N7        &kp N8        &kp N9        &kp STAR      &kp BSPC
&kp TILDE  &kp HASH     &kp DOLLAR   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none        &none     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PLUS      &trans
&kp LSHFT  &kp PERCENT  &kp CARET    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans       &kp AMPS  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0  &trans
                                     &none                 &trans                 &kp SPACE    &kp RET   &trans        &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp DEL    &none      &none      &none      &none      &none        &none           &none     &none         &none      &none     &none
&none      &kp EQUAL  &kp GRAVE  &kp UNDER  &kp MINUS  &trans       &kp LEFT_ARROW  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &kp BSLH  &kp GRAVE
&kp LSHFT  &none      &none      &none      &none      &none        &none           &none     &none         &none      &none     &none
                                 &none      &trans     &kp SPACE    &kp RET         &trans    &none
            >;
        };
    };
};
